<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold">{{title}}</span>
        <span> | <a routerLink="/requests/list-review">Return to list...</a></span>
    </section>
    <p *ngIf="!request">Loading...</p>
    <div *ngIf="request&&request.user">
        <main class="single">
            <table class="table table-sm">
                <tr>
                    <td>Submitted Date:</td>
                    <td>
                        <input [(ngModel)]="request.submittedDate" class="rounded" type="datetime-local" disabled>
                    </td>
                </tr>
                <tr>
                    <td>Date Needed:</td>
                    <td>
                        <input [(ngModel)]="request.dateNeeded" class="rounded" type="date" disabled>
                    </td>
                </tr>
                <tr>
                    <td>User:</td>
                    <td>{{request.user.userName}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <input [(ngModel)]="request.description" class="rounded" type="text" disabled>
                    </td>
                </tr>
                <tr>
                    <td>Justification:</td>
                    <td>
                        <input [(ngModel)]="request.justification" class="rounded" type="text" disabled>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Mode:</td>
                    <td>{{request.deliveryMode}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{request.status}}</td>
                </tr>
                <tr *ngIf="request.reasonForRejection != null && request.reasonForRejection != ''">
                    <td>Reason for Rejection:</td>
                    <td>{{request.reasonForRejection}}</td>
                </tr>
            </table>
        </main>
    </div>
    <h2 style="padding-top: 25px;">Line Items</h2>
    <table class="table">
        <tr>
            <th>Part Number:</th>
            <th>Product Description:</th>
            <th>Vendor:</th>
            <th>Price:</th>
            <th>Quantity:</th>
            <th>Total:</th>
        </tr>
        <tr *ngFor="let lineItem of lineItems">
            <td>{{lineItem.product.partNumber}}</td>
            <td>{{lineItem.product.name}}</td>
            <td>{{lineItem.product.vendor.name}}</td>
            <td>{{"$" + lineItem.product.price}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{"$" + lineItem.quantity * lineItem.product.price}}</td>
        </tr>
        <tr *ngIf="lineItems.length == 0" style="background-color: lightpink;">
            <td colspan="7" align="center">No Line Items Yet!</td>
        </tr>
        <tr *ngIf="addNew">
            <td colspan="7">
                <app-line-item-create></app-line-item-create>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td>Subtotal:</td>
            <td>{{request.total | currency}}</td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td>Tax:</td>
            <td>{{(request.total * localTax) | currency}}</td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td>Total:</td>
            <td>{{((request.total * localTax) + request.total) | currency}}</td>
        </tr>
    </table>
    Reason for Rejection: <input [(ngModel)]="reasonForRejection" class="rounded" type="text">
    <br>
    <button (click)="approve()" class="btn btn-sm btn-success">Approve</button>
    <button (click)="reject()" class="btn btn-sm btn-danger">Reject</button>
</div>