<app-menu></app-menu>
<!-- May want to change the way this looks later -->
<div class='component-content'>
    <div class='lefthalf d-inline-flex flex-row align-items-center'>
        <span class='component-title'>{{title}}</span>
        <span><a routerLink='/products/create'>
                <div id='createnew' width='20' height='20'  title='Add New'></div></a>
        </span>
    </div>
</div>
<table class="table">
    <tr>
        <th>Photo</th>
        <th><a (click)="sortBy('partNumber')">Part Number</a></th>
        <th><a (click)="sortBy('name')">Name</a></th>
        <th><a (click)="sortBy('vendor')">Vendor</a></th> <!-- This sort does not work yet -->
        <th><a (click)="sortBy('price')">Price</a></th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let product of products | sort:sortCriteria:sortOrder">
        <!-- If there's no image, display a no image photo -->
        <td *ngIf="product.photoPath != '' && product.photoPath != null; else noImage" align="center">
            <img src="{{product.photoPath}}" height="50px">
        </td>
        <ng-template #noImage>
            <td align="center">
                <img src="../../../../assets/noImage.png" height="50px">
            </td>
        </ng-template>
        <td>{{product.partNumber}}</td>
        <td>{{product.name}}</td>
        <td>{{product.vendor.name}}</td>
        <td>{{"$" + product.price}}</td>
        <td class=" d-inline-flex flex-row align-items-center">
            <a routerLink='/products/detail/{{product.id}}'><div id="detail" width='30' height="30"
                    title="Details"></div></a>
            |
            <a routerLink='/products/edit/{{product.id}}'><div id="edit" width='30' height="30" title='Edit'></div></a>
        </td>
    </tr>
</table>