html {
    overflow: hidden;
}

#getStarted {
    width: 500px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    text-align: center;
}

#getStarted h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

#getStarted button {
    margin: 0px 10px;
}

.component-content {
    background: url(../../../assets/home.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    background-color: #F3F2F7;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu {
    position: relative;
    z-index: 1;
}

.btn {
    /* background-color: #7099ff; */
    font-family: Tahoma, sans-serif;
}

.btn:hover {
    background-color: #7099ff;
    border-color: #7099ff;
}