<h1 style="padding-top: 25px;">{{title}}</h1>
<table class="table">
    <tr>
        <th></th>
        <th>Part Number:</th>
        <th><a (click)="sortBy('product')">Product Description:</a></th>
        <th>Vendor:</th>
        <th>Price:</th>
        <th>Quantity:</th>
        <th>Total:</th>
    </tr>
    <tr *ngFor="let lineItem of itemsByRequest">
        <td *ngIf="!edit || lineItem.id != lineItemId">
            <button (click)="editLineItem(lineItem.id)"
                style="background-color: white; background-image: url(assets/pencil-icon.png); background-size: 20px 20px; width: 20px; height: 20px; border: 0;"
                title="Edit">
            </button>
            |
            <button (click)="delete(lineItem.id)"
                style="background-image: url(assets/delete.jpg); background-size: 20px 20px; width: 20px; height: 20px; border: 0;"
                title="Delete">
            </button>
        </td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.product.partNumber}}</td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.product.name}}</td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.product.vendor.name}}</td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.product.price | currency}}</td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.quantity}}</td>
        <td *ngIf="!edit || lineItem.id != updatedLineItem.id">{{lineItem.quantity * lineItem.product.price | currency}}</td>
        <!-- Edit Line Item -->
        <td *ngIf="edit && updatedLineItem.id == lineItem.id" colspan="7">
            <div *ngIf="lineItem" style="display: inline-block;">
                <div style="float: left;">
                    <p *ngIf="lineItem" style="float: left; padding-right: 5px;">Product:</p>
                    <select [(ngModel)]="updatedLineItem.product" class="rounded" style="float: left;"
                        [compareWith]="compareProduct">
                        <option *ngFor="let product of products" [ngValue]="product">
                            {{product.name}}
                        </option>
                    </select>
                </div>
                <div style="float: left;">
                    <p *ngIf="lineItem" style="float: left; padding-right: 5px; padding-left: 15px;">Quantity:</p>
                    <input [(ngModel)]="updatedLineItem.quantity" class="rounded" type="number">
                </div>
                <div style="float: left; margin: 0px 0px 0px 50px;">
                    <button class="btn btn-sm btn-success" (click)="update()">Update</button>
                </div>
            </div>
        </td>
    </tr>
    <tr *ngIf="itemsByRequest.length == 0" style="background-color: lightpink;">
        <td colspan="7" align="center">No Line Items Yet!</td>
    </tr>
    <!-- Add New Item -->
    <tr *ngIf="addNew">
        <td colspan="7">
            <div *ngIf="lineItem" style="display: inline-block;">
                <div style="float: left;;">
                    <p *ngIf="lineItem" style="float: left; padding-right: 5px;">Product:</p>
                    <select [(ngModel)]="newLineItem.product" class="rounded" style="float: left;">
                        <option *ngFor="let product of products" [ngValue]="product">
                            {{product.name}}
                        </option>
                    </select>
                </div>
                <div style="float: left;">
                    <p *ngIf="lineItem" style="float: left; padding-right: 5px; padding-left: 15px;">Quantity:</p>
                    <input [(ngModel)]="newLineItem.quantity" class="rounded" type="number">
                </div>
                <div style="float: left; margin: 0px 0px 0px 50px;">
                    <button class="btn btn-sm btn-success" (click)="save()">Add</button>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Subtotal:</td>
        <td>{{request.total | currency}}</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Tax:</td>
        <td>{{(request.total * localTax) | currency}}</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Total:</td>
        <td>{{((request.total * localTax) + request.total) | currency}}</td>
    </tr>
</table>
<button (click)="clicked()" class="btn btn-sm btn-success">Add Item</button>