<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>
            <h1>{{title}}</h1>
        </span>
    </div>
</div>
<p *ngIf="!user">Loading...</p>
<div *ngIf="user">
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>First Name:</td>
                <td>
                    <input [(ngModel)]="user.firstName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <input [(ngModel)]="user.lastName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>
                    <input [(ngModel)]="user.phoneNumber" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input [(ngModel)]="user.email" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input [(ngModel)]="user.userName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input [(ngModel)]="user.password" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Reviewer Status:</td>
                <td>{{user.reviewer}}</td>
            </tr>
            <tr>
                <td>Admin Status:</td>
                <td>{{user.admin}}</td>
            </tr>
        </table>
    </main>
    <span><button (click)="update()" class="btn btn-sm btn-primary" style="margin-right: 5px;">Update</button></span>
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
</div>